<!doctype html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/menu') %>

    <section>
      <p>Login page (form for logging in)</p>
    </section>
  </body>
</html>
