<!doctype html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/menu') %>

    <section>
      <h1>Login</h1>

      <% if (messages.error) { %>
        <p class="error-message"><%= error %></p>
      <% } %>

      <form method="post" action="/auth/login">
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="you@domain.com"
            required
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div>
          <button type="submit">Login</button>
        </div>
      </form>
    </section>
  </body>
</html>
