body {
  background-color: silver;
}

nav,
section {
  width: 800px;
  margin: auto;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin-right: 20px;
}

nav ul li ul {
  display: flex;
  margin: none;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

form input {
  margin-bottom: 10px;
}
