<nav>
  <ul>
    <li>
      Home
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </li>
    <li>
      Authentication
      <ul>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/auth/register">Register</a></li>
      </ul>
    </li>
    <li>
      Main Lobby
      <ul>
        <li><a href="/lobby">Main Lobby</a></li>
      </ul>
    </li>
    <li>
      Game Pages
      <ul>
        <li><a href="/games/lobby">Game lobby</a></li>
        <li><a href="/games/42">Game</a></li>
      </ul>
    </li>
  </ul>
</nav>
