<html>
  <head>
    <link rel="stylesheet" href="/css/root.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      This is a simple example of a Node.js application using Express.js and
      EJS.
    </p>
  </body>
</html>
